<div class="register-container">
  <div class="image-container">
    <img
      src="../assets/imagenes/plantitas.jpg"
      alt="Register"
      style="width: 100%; height: 100%; object-fit: cover"
      class="register-image"
    />
  </div>

  <div class="register-form">
    <h1 class="form-title">Registro</h1>

    <div class="form-group">
      <label class="form-label">Nombre de Usuario</label>
      <input type="text" class="form-input" />
    </div>

    <div class="form-group">
      <label class="form-label">Nombre Completo</label>
      <input type="text" class="form-input" />
    </div>

    <div class="form-group">
      <label class="form-label">Municipio</label>
      <input type="text" class="form-input" />
    </div>

    <div class="form-row">
      <div class="form-column">
        <label class="form-label">Celular</label>
        <input type="tel" class="form-input" />
      </div>
      <div class="form-column">
        <label class="form-label">Fecha Nacimiento</label>
        <input type="date" class="form-input" />
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">Contraseña</label>
      <input type="password" class="form-input" />
    </div>

    <div class="form-group">
      <label class="form-label">Repetir contraseña</label>
      <input type="password" class="form-input" />
    </div>

    <button class="register-button">Registrarse</button>
  </div>
</div>
